<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/../pages/basicPage}">
<th:block layout:fragment="script">

    <script type="text/javascript" th:src="@{/js/myPage.js}"></script>
</th:block>

<main layout:fragment="main">

    <div class="w-full h-full text-yellow-700">

        <div class="h-44">
            <div class="w-1/5 h-1/2 mx-auto text-center">
            <img class="w-4/6 h-full m-auto shadow-md rounded-full" th:src="@{/img/face.png}">
            <div class="text-yellow-600 mt-6">{$수미니}</div>
            </div>
        </div>

        <div class="flex mx-auto w-5/6">
            <button class="flex-1 py-2 px-4 bg-yellow-200 text-yellow-800 rounded-l-lg">계정 정보</button>
            <button class="flex-1 py-2 px-4 bg-yellow-200 text-yellow-800">맛집 리스트</button>
            <button class="flex-1 py-2 px-4 bg-yellow-500 text-yellow-900 rounded-r-lg">친구</button>
        </div>

        <div id="content" class="w-4/5 mx-auto h-full">
<!--            <div id="myTaste" th:replace="~{contents/my/myTaste :: myTaste}"></div>-->
<!--            <div id="myStoreList" th:replace="~{contents/my/myStoreList :: myStoreList}"> </div>-->
            <div id="myParty" th:replace="~{contents/my/myParty :: myParty}"></div>
        </div>
    </div>
</main>