<div th:fragment="nav">
    <div class="h-44">
        <div class="w-1/5 h-1/2 mx-auto relative">
            <img id="user_profile_img" src="/img/mechuri_logo.png" alt="프로필 사진" class="w-24 h-24 rounded- mx-auto">
            <span id="user_nickname"></span>
            <input type="file" id="update_img_file" accept="image/*" style="display: none;"> <!-- 파일 업로드 입력 -->
        </div>
    </div>

    <div class="flex mx-auto w-5/6">
        <button id="my_state_btn" class="flex-1 py-2 px-4 bg-yellow-500 text-white font-bold rounded-l">개인정보</button>
        <button id="my_store_list_btn" class="flex-1 py-2 px-4 bg-yellow-200 text-white font-bold">맛집리스트</button>
        <button id="my_sub_btn" class="flex-1 py-2 px-4 bg-yellow-200 text-white font-bold rounded-r">구독</button>
    </div>
</div>

<div th:fragment="myState">
    <div class="w-full p-10 m-auto relative">
        <h3 class="text-2xl  font-bold text-yellow-600 mb-4">비밀번호 변경</h3>
        <div class="mb-8">
            <div class="mt-4">
                <label for="userPw" class="sr-only"></label>
                <span class="ml-2 text-lg">비밀번호</span>
                <div class="relative">
                    <input id="userPw" name="userPw" type="password"
                           class="text-sm mt-1 shadow-md rounded-lg mx-auto w-full h-12 pl-3 pr-10 placeholder-opacity-40 placeholder-yellow-900 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim"
                           placeholder="8자 이상 12자 이하로 입력하세요(공백x,문자,숫자,특수문자 포함해야합니다.)" th:value="${userPw}">
                    <span class="validation-icon absolute right-3 top-1/2 transform -translate-y-1/2"></span>
                </div>
            </div>
            <div class="mt-4">
                <label for="userPw2" class="sr-only"></label>
                <span class="ml-2 text-lg">비밀번호 확인</span>
                <div class="relative">
                    <input id="userPw2" name="password2" type="password"
                           class="text-sm mt-1 shadow-md rounded-lg mx-auto w-full h-12 pl-3 pr-10 placeholder-opacity-40 placeholder-yellow-900 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim"
                           placeholder="비밀번호를 다시 입력하세요">
                    <span class="validation-icon absolute right-3 top-1/2 transform -translate-y-1/2"></span>
                </div>
            </div>
        </div>
        <hr>
        <h3 class="text-2xl  font-bold text-yellow-600 my-4">선호 취향 선택</h3>
        <div class="w-full text-center align-center pb-4">
            <div id="category-list-container" class="grid grid-cols-5">
<!--                <span class="block text-sm font-medium">선호하는 취향</span>-->
                <!-- 카테고리들이 여기에 동적으로 추가됩니다 -->
            </div>
        </div>
        <hr>
        <div>
            <h3 id="withdraw_btn" class="text-2xl font-bold text-red-700 my-4">회원 탈퇴</h3>
        </div>
        <div class="w-full text-center">
            <button id="update_btn" class="mt-4 bg-red-50 hover:bg-yellow-200 text-2xl font-bold py-2 px-2 rounded">
                수정하기
            </button>
        </div>
        <div class="hidden">

        </div>
    </div>
</div>