<div th:fragment="mySub">
    <div class="w-full h-full px-10 mx-auto shadow-md relative">


        <div class="relative">
            <input type="text" id="friendSearch" name="friendSearch"
                   class="mt-6 w-full p-3 pl-10 rounded-full bg-white shadow-md focus:outline-none focus:ring-2 focus:ring-yellow-300"
                   placeholder="친구를 검색하세요">
        </div>

        <ul class="space-y-1 mt-4">
            <li th:each="friend : ${friends}" class="flex items-center space-x-3 bg-white p-1 rounded-lg shadow">
                <div class="w-12 h-12 bg-yellow-200 rounded-full flex items-center justify-center">
                    <span th:text="${#strings.substring(friend.name, 0, 1)}" class="text-xl font-bold text-yellow-800"></span>
                </div>
                <span th:text="${friend.name}" class="text-lg text-gray-800"></span>
            </li>
            <li class="flex items-center space-x-3 bg-white p-1 rounded-lg shadow">
                <div class="w-12 h-12 bg-yellow-200 rounded-full flex items-center justify-center">
                    <span class="text-xl font-bold text-yellow-800">수</span>
                </div>
                <span class="text-lg text-gray-800">수미니</span>
            </li>
            <li class="flex items-center space-x-3 bg-white p-1 rounded-lg shadow">
                <div class="w-12 h-12 bg-yellow-200 rounded-full flex items-center justify-center">
                    <span class="text-xl font-bold text-yellow-800">용</span>
                </div>
                <span class="text-lg text-gray-800">용사 태형</span>
            </li>
            <li class="flex items-center space-x-3 bg-white p-1 rounded-lg shadow">
                <div class="w-12 h-12 bg-yellow-200 rounded-full flex items-center justify-center">
                    <span class="text-xl font-bold text-yellow-800">빅</span>
                </div>
                <span class="text-lg text-gray-800">빅브라더홍엽</span>
            </li>
            <li class="flex items-center space-x-3 bg-white p-1 rounded-lg shadow">
                <div class="w-12 h-12 bg-yellow-200 rounded-full flex items-center justify-center">
                    <span class="text-xl font-bold text-yellow-800">파</span>
                </div>
                <span class="text-lg text-gray-800">파주미식가</span>
            </li>
        </ul>
    </div>
</div>