<th:block th:fragment="myTaste">
<div class="bg-yellow-100 rounded-lg m-auto w-11/12 grid grid-rows-2 grid-row-2 gap-4 m-0">

        <div class="w-full h-32 m-auto shadow-xl"><h1>수미니 취향</h1>
            <div class="mx-auto w-40">[매콤][패스트푸드][중식]</div>
            <div class="ml-auto bottom-0 bg-yellow-400 w-16 rounded-lg mt-14 text-center">수정 하기</div>
        </div>

    <!--3-->
        <div class="w-full h-36  m-auto shadow-xl "><h1>수미니 맛집 리스트 게시판</h1>
            <div class="mx-auto w-24">(게시글 썸네일) 시간 모자라면 걍 a링크나 박자</div>
        </div>
</div>
</th:block>