@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'MaplestoryOTFBold';
}
body {
    margin: 0;
    padding: 0;
    /*height: 100vh;*/
    background: #fff9da;
    max-height: 100vh;
    min-height: 100vh;
    width: 100vw;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows:10vh 80vh 10vh;

}
.page{
    grid-column: 2/3; !important;
    max-height: 100vh; !important;
    min-height: 100vh; !important;
    min-width: 700px !important;
    max-width: 700px !important;
    margin: 0 auto;
}
header {
    grid-row: 1/2;!important;
    z-index: 99 !important;
    width: 100% !important;
    min-height: 10vh;
    /*min-width: 700px !important;*/
    /*max-width: 700px !important;*/
    /*min-height: 200px !important;*/
}

main{
    min-height: 80vh; !important;
    grid-row: 2/3; !important;
}
footer {
    min-height: 10vh;
    grid-column: 2/3; !important;
    grid-row: -3/-2; !important;
    bottom:0; !important;
    z-index: 99 !important;
    /*min-width: 700px !important;*/
    /*max-width: 700px !important;*/
}


/*header .search{*/
/*    position: sticky;*/
/*    min-width: 670px !important;*/
/*    max-width: 670px !important;*/
/*    margin:3px  !important;*/
/*}