<div th:fragment="join" class="mx-auto">

    <form class="mt-8 mx-34 space-y-6" action="#" method="POST">
      <input type="hidden" name="remember" value="true">
        <div>

          <label for="username" class="sr-only">아이디</label><span class="ml-36 text-yellow-700">아이디</span>
          <input id="username" name="username" type="text" autocomplete="username" required class="shadow-2xl rounded-none block mx-auto w-3/5 h-14 px-3 py-2 border border-red-100 placeholder-opacity-40 placeholder-yellow-900 text-yellow-800 rounded-t-md focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim" placeholder="아이디를 입력하세요">
        </div>
        <div>
          <label for="password" class="sr-only">비밀번호</label><span class="ml-36 text-yellow-700">비밀번호</span>
          <input id="password" name="password" type="password" autocomplete="current-password" required class="shadow-2xl mx-auto w-3/5 h-14 rounded-none  block px-3 py-2 border border-red-100 placeholder-opacity-40 placeholder-yellow-900 text-yellow-700 rounded-b-md focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim" placeholder="비밀번호를 입력하세요">
        </div>
          <div>
          <label for="password2" class="sr-only">비밀번호2</label><span class="ml-36 text-yellow-700">비밀번호 확인</span>
          <input id="password2" name="password2" type="text" autocomplete="password2" required class=" shadow-2xl rounded-none block mx-auto w-3/5 h-14 px-3 py-2 border border-red-100 placeholder-opacity-40 placeholder-yellow-900 text-yellow-800 rounded-t-md focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim" placeholder="비번을 다시 입력하세요">
        </div>
          <div>
          <label for="nick" class="sr-only">nick</label><span class="ml-36 text-yellow-700">닉네임</span>
          <input id="nick" name="nick" type="text" autocomplete="nick" required class=" shadow-2xl rounded-none block mx-auto w-3/5 h-14 px-3 py-2 border border-red-100 placeholder-opacity-40 placeholder-yellow-900 text-yellow-800 rounded-t-md focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim" placeholder="닉을 입력하세요">
        </div>
          <div>
          <label for="address" class="sr-only">주소</label><span class="ml-36 text-yellow-700">주소</span>
          <input id="address" name="address" type="text" autocomplete="address" required class=" shadow-2xl rounded-none block mx-auto w-3/5 h-14 px-3 py-2 border border-red-100 placeholder-opacity-40 placeholder-yellow-900 text-yellow-800 rounded-t-md focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim" placeholder="주소를 입력하세요">
        </div>
      <div class="w-full flex">
<!--        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md bg-yellow-200 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">-->
        <button type="submit" class="mx-auto mt-8 bg-yellow-200 hover:bg-yellow-500 text-black font-bold py-4 px-20 rounded-full shadow-2xl uppercase tracking-wider">
          <span class="flex  items-center font-bolder boarder text-yellow-600 shadow-2xl">
            <!-- Heroicon name: solid/lock-closed -->
        회원가입
          </span>
        </button>
      </div>
    </form>
  </div>




















  <form class="mt-8 space-y-6" action="#" method="POST">
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="userId" class="sr-only">id</label>
          <input id="userId" name="userId" type="text" autocomplete="userId" required
                 class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                 placeholder="id">
        </div>
        <div>
          <label for="password" class="sr-only">pw</label>
          <input id="password" name="password" type="password" autocomplete="current-password" required
                 class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                 placeholder="pw">
        </div>
        <div>
          <label for="password2" class="sr-only">pw 2</label>
          <input id="password2" name="password" type="password" autocomplete="current-password" required
                 class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                 placeholder="pw2">
        </div>
        <div>
          <label for="username" class="sr-only">nick</label>
          <input id="username" name="username" type="text" autocomplete="username" required
                 class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                 placeholder="nick">
        </div>
        <div>
          <label for="address" class="sr-only">address</label>
          <input id="address" name="address" type="drop" autocomplete="address" required
                 class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                 placeholder="서울 동대문구">
        </div>
      </div>

      <div class="flex items-center justify-between">



      </div>
      <div>
        <button type="submit"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md bg-yellow-200 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-yellow-200">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->

          </span>
          Be Mechuli
        </button>
      </div>
    </form>

</div>
    </div>