<div th:fragment="join2" class="max-w-md mx-auto">
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
       <img class="mx-auto h-24 w-auto" th:src="@{/img/mechuri_logo.png}">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        메추리 선호 취향 선택(3-5개) <p class="text-sm text-red-500"> 이거 드랍메뉴로 하는게 나을듯 </p>
      </h2>
    </div>

    <div class="grid grid-cols-5 gap-2 overflow-y-auto h-48">
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">동남아</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">분식</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">중식</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">일식</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">멕시코</button>

      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">퓨전</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">홍콩</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">치킨</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">탕코아</button>

      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">패스트푸드</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">족발</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">곱창</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">찜닭</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">삼겹살</button>

      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">매운</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">고소</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">느끼</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">담백</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">짠맛</button>

      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">뜨거운</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">차가운</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">신맛</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">떡볶이</button>
      <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-2 rounded">짬뽕</button>
    </div>

    <div class="flex mt-6">
      <button class="w-1/2 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-l">
        이전
      </button>
      <button class="w-1/2 bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-r">
        완료
      </button>
    </div>
  </div>
</div>
  </div>