<div th:fragment="nav">
    <div class="h-44">
        <div class="w-1/5 h-1/2 mx-auto text-center relative">
            <img id="user_profile_img" class="w-24 h-24 rounded-full mx-auto" src="/img/mechuri_logo.png" alt="사용자 프로필">
            <span id="user_nickname"></span>
        </div>
    </div>

    <div class="flex mx-auto w-5/6">
        <button id="my_state_btn" class="flex-1 py-2 px-4 bg-yellow-200 hover:bg-yellow-300">개인정보</button>
        <button id="my_store_list_btn" class="flex-1 py-2 px-4 bg-yellow-200 hover:bg-yellow-300">맛집리스트</button>
        <button id="my_sub_btn" class="flex-1 py-2 px-4 bg-yellow-200 hover:bg-yellow-300">구독</button>
    </div>
</div>