<th:block th:fragment="config">
 <head>
  <title> MECULI </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/tailwinds.css}">
 <script th:src="@{https://cdn.tailwindcss.com}"></script>
 <script defer type="text/javascript" th:href="@{/tailwind.config.js}"></script>
 <script defer type="text/javascript" th:src="@{/js/common.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
 </head>
</th:block>