<header th:fragment="header" class="sticky bg-yellow-100">

 <img class="mx-auto h-24" th:src="@{/img/mechuri_logo.png}">

    <div>
          <label for="search" class="sr-only"></label>
          <input id="search" name="search" type="search" autocomplete="search" required
                 class="appearance-none rounded-none relative block w-full px-10 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                 placeholder="search">
        </div>

</header>