<div th:fragment="boardReviewButton">
    <div id="addReviewButton" class="fixed bottom-4 p-4 flex justify-end">
        <div class="relative w-24 bg-yellow-400 rounded-full justify-center m-4 aspect-square">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-1/2 h-1 bg-black"></div>
            </div>
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-1 h-1/2 bg-black"></div>
            </div>
        </div>
    </div>
</div>
