<div th:fragment="boardNav">
    <div class="grid grid-cols-3 mx-4 gap-x-4 content-center">
        <button data-show-table="menuTable" class="rounded-lg bg-[#fef445] hover:bg-[#fef445] text-4xl h-16">
            <h1>메뉴</h1>
        </button>
        <button data-show-table="infoTable" class="rounded-lg bg-[#e6e6e6] hover:bg-[#fef445] text-4xl h-16">
            <h1>가게정보</h1>
        </button>
        <button data-show-table="reviewTable" class="rounded-lg bg-[#e6e6e6] hover:bg-[#fef445] text-4xl h-16">
            <h1>리뷰</h1>
        </button>
    </div>
</div>