<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/pages/basicPage}">
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/detail.js}"></script>
  <script type="text/javascript" th:src="@{/js/write_review_count.js}"></script>
  <script type="text/javascript" th:src="@{/js/write_review_rating.js}"></script>
</th:block>
<main layout:fragment="main">

    <div th:replace="~{/../component/nav :: nav}"></div>
    <div id="boardContainer" class="text-sm m-auto w-3/5 h-2/3">
        <div th:replace="~{/../contents/detail/boardMenu :: boardMenu}"></div>
        <div th:replace="~{/../contents/detail/boardStore :: boardStore}"></div>
        <div th:replace="~{/../contents/detail/boardReview :: boardReview}"></div>
    </div>

</main>
</html>
