<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/pages/basicPage}">
<th:block layout:fragment="script">
    <script defer type="text/javascript" th:src="@{/js/myPage.js}"></script>
</th:block>
<main role="main" layout:fragment="main">
    <div class="w-full h-full text-yellow-700">
        <div th:replace="~{/../component/nav :: nav}"></div>

        <div id="content" class="w-4/5 mx-auto h-full">
            <div id="my_state_fragment">
                <th:block th:replace="~{contents/my/friendState :: friendState}"></th:block>
            </div>
            <div id="my_store_list_fragment" class="hidden">
                <th:block th:replace="~{contents/my/friendStoreList :: friendStoreList}"></th:block>
            </div>
            <div id="my_sub_fragment" class="hidden">
                <th:block th:replace="~{contents/my/friendSub :: friendSub}"></th:block>
            </div>
        </div>
    </div>
</main>