<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/pages/basicPage}">
<th:block layout:fragment="script">
    <script type="text/javascript" src="/./js/mainCategory.js"></script>
    <script type="text/javascript" src="/./js/mainPage.js"></script>
</th:block>
<main layout:fragment="main">

    <div class="flex flex-col w-full">
        <div class="flex flex-col items-center w-full mb-4">
            <h1 class="text-6xl m-4">메추~리</h1>
            <div class="grid grid-cols-5" id="list-container">
                <!-- 카테고리 출력 -->
            </div>
        </div>

        <div class="flex flex-col items-start w-full">
            <div class="flex flex-col px-20 py-4 w-full" id="restaurant-container">
                <!-- 레스토랑 목록 출력 -->
            </div>
        </div>
    </div>

</main>