<div th:fragment="myPage">


  <div th:insert="~{/component/usersearch :: usersearch}"></div> </br></br></br></br></br></br></br></br>


  <div th:insert="~{/component/user :: user}"></div> </br></br></br></br></br></br></br></br>


  <div th:insert="~{/component/userlatest :: userlatest}"></div> </br></br></br></br></br></br></br></br>


  <div th:insert="~{/component/userparty :: userparty}"></div> </br></br></br></br></br></br></br></br>


  <div th:insert="~{/component/userupdate :: userupdate}"></div> </br></br></br></br></br></br></br></br>


  <div th:insert="~{/component/userupdate :: userupdate}"></div> </br></br></br></br></br></br></br></br>


</div>