<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<div class="page">-->

<!--<header th:insert="~{/component/user_component/userHeader :: userHeader}" class="top-0 sticky"></header>-->
<!--<main th:insert="~{/default/main :: main}" class="bg-yellow-100 bg-opacity-80">-->

<!--  <div th:insert="~{/component/user_component/usersearch :: usersearch}"></div> </br></br></br></br></br></br></br></br>-->

<!--    <div th:insert="~{/component/user_component/avatar :: avatar}"></div> </br></br></br></br></br></br></br></br>-->

<!--    <div th:insert="~{/component/user_component/userlatest :: userlatest}"></div> </br></br></br></br></br></br></br></br>-->

<!--    <div th:insert="~{/component/user_component/userparty :: userparty}"></div> </br></br></br></br></br></br></br></br>-->

<!--    <div th:insert="~{/component/user_component/userupdate :: userupdate}"></div> </br></br></br></br></br></br></br></br>-->

<!--</main>-->
<!--<footer th:insert="~{/default/footer :: footer}" class="bottom-0 sticky"></footer>-->
<!--</div>-->
<!--</html>-->











