<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{/default/head :: head}"></div>
<body class="flex min-h-screen w-full flex-col text-gray-600 bg-muted/40">
<header th:insert="~{/default/header :: header}"></header>
<!--<main th:insert="~{/default/main :: main}"></main>-->
<footer th:insert="~{/default/footer :: footer}"></footer>
<script src="/js/header.js" defer></script>
<!-- th:replace를 사용하여 main을 추가하고 동적으로 내용 전달 -->
<!--<main th:replace="~{default/main :: main(~{::content})}">
    <div>
        &lt;!&ndash; 추가하고 싶은 내용 &ndash;&gt;
        <h1>Custom Content</h1>
        <p>This is custom content for the main component.</p>
    </div>
</main>
<footer th:insert="~{default/footer :: footer}"></footer>-->
</body>
</html>

