<div th:fragment="joinForm" class="text-yellow-700 w-full">
    <form id="joinForm" class="text-yellow-700 w-full" th:action="@{/joinPage/join}" method="post">
        <div id="step1">
            <div class="mt-4">
                <label th:for="userId" class="sr-only"></label><span class="ml-2">아이디</span>
                <div class="relative">
                    <input id="userId" name="userId" type="text"
                           class="text-sm mt-1 shadow-md rounded-lg mx-auto w-full h-12 pl-3 pr-10 placeholder-opacity-40 placeholder-yellow-900 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim"
                           placeholder="4자 이상 입력하세요" th:value="${userId}">
                    <input type="button" class="btn btn-outline-primary btn-sm idCheck mx-1" id="userid_check" value="중복 체크">
                    <input type="button" class="btn btn-outline-success btn-sm reType" id="resetUserId" value="다시입력" disabled>
                    <span class="validation-icon absolute right-3 top-1/2 transform -translate-y-1/2"></span>
                </div>
            </div>
            <div class="mt-4">
                <label th:for="userPw" class="sr-only"></label><span class="ml-2">비밀번호</span>
                <div class="relative">
                    <input id="userPw" name="userPw" type="password"
                           class="text-sm mt-1 shadow-md rounded-lg mx-auto w-full h-12 pl-3 pr-10 placeholder-opacity-40 placeholder-yellow-900 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim"
                           placeholder="8자 이상 입력하세요" th:value="${userPw}">
                    <span class="validation-icon absolute right-3 top-1/2 transform -translate-y-1/2"></span>
                </div>
            </div>
            <div class="mt-4">
                <label th:for="userPw2" class="sr-only"></label><span class="ml-2">비밀번호 확인</span>
                <div class="relative">
                    <input id="userPw2" name="password2" type="password"
                           class="text-sm mt-1 shadow-md rounded-lg mx-auto w-full h-12 pl-3 pr-10 placeholder-opacity-40 placeholder-yellow-900 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim"
                           placeholder="비밀번호를 다시 입력하세요">
                    <span class="validation-icon absolute right-3 top-1/2 transform -translate-y-1/2"></span>
                </div>
            </div>
            <div class="mt-4">
                <label th:for="nickname" class="sr-only"></label><span class="ml-2">닉네임</span>
                <div class="relative">
                    <input id="nickname" name="nickname" type="text"
                           class="text-sm mt-1 shadow-md rounded-lg mx-auto w-full h-12 pl-3 pr-10 placeholder-opacity-40 placeholder-yellow-900 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim"
                           placeholder="2자 이상 입력하세요" th:value="${nickname}">
                    <input type="button" class="btn btn-outline-primary btn-sm idCheck mx-1" id="nickname_check" value="중복 체크">
                    <input type="button" class="btn btn-outline-success btn-sm reType" id="resetNickname" value="다시입력" disabled>
                    <div class="validation-icon absolute right-3 top-1/2 transform -translate-y-1/2"></div>
                </div>
            </div>
            <div id="step-indicator" class="w-full flex mt-6">
                <div class="m-auto">1 / 2</div>
            </div>
            <div class="w-full flex">
                <button type="button" id="next_btn" th:id="next_btn"
                        class="mx-auto mt-4 bg-yellow-200 hover:bg-yellow-500 text-black font-bold py-4 px-7 rounded-full shadow-md uppercase tracking-wider">
                    <span class="flex items-center font-bolder border text-yellow-600">다음</span>
                </button>
            </div>
        </div>

        <div id="step2" style="display: none;">
            <h2>카테고리 선택</h2>
            <div id="categoryList" class="grid grid-cols-5 gap-2 overflow-y-auto h-48 mt-4">
                <button th:each="category : ${categories}"
                        type="button"
                        class="category-btn bg-yellow-200 hover:bg-yellow-500 font-bold py-1 px-2 rounded"
                        th:data-category-id="${category.categoryId}"
                        th:text="${category.categoryName}">
                </button>
            </div>
            <h2>선택된 카테고리</h2>
            <div id="selected_category">
            </div>
            <div class="flex mt-6">
                <button type="button" id="back_btn"
                        class="w-1/2 bg-yellow-600 hover:bg-yellow-700 font-bold py-2 px-4 rounded-l">
                    이전
                </button>
                <button type="submit" id="join_btn"
                class="w-1/2 bg-yellow-200 hover:bg-yellow-400 font-bold py-2 px-4 rounded-r">

                선택 완료
                </button>
                <div id="hidden_category_inputs"></div>

                <input id="submit" name="submit" type="submit"
                       class="text-sm mt-1 shadow-md rounded-lg mx-auto w-full h-12 pl-3 pr-10 placeholder-opacity-40 placeholder-yellow-900 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim"
                       placeholder="ㄱㄱ">
            </div>
            <!-- 선택된 카테고리 ID를 저장할 hidden input 필드들 -->
        </div>
    </form>
</div>