<div th:fragment="detailButton">
    <div class="flex mx-auto w-5/6">
        <button data-show-table="menuTable" class="flex-1 py-2 px-4 rounded-l-lg bg-yellow-500 text-yellow-800 hover:bg-yellow-500">
            메뉴
        </button>
        <button data-show-table="infoTable" class="flex-1 py-2 px-4 rounded-lg bg-yellow-200 text-yellow-800 hover:bg-yellow-500">
            가게정보
        </button>
        <button data-show-table="reviewTable" class="flex-1 py-2 px-4 rounded-r-lg bg-yellow-200 text-yellow-800 hover:bg-yellow-500">
            리뷰
        </button>
    </div>
</div>