<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/pages/basicPage}">
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/joinPage.js}"></script>
</th:block>

<main layout:fragment="main" class="flex">
    <div id="joinFormContainer" class="text-sm m-auto w-3/5 h-2/3">
        <p th:if="${joinErrorMsg}" class="error" th:text="${joinErrorMsg}"></p>
        <div th:replace="~{/contents/join/joinForm :: joinForm}"></div>
<!--        <div th:replace="~{contents/join/joinForm2 :: joinForm2}"></div>-->
    </div>
</main>

</html>
