<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/pages/basicPage}">

<main layout:fragment="main">
     <form class="mt-8 mx-28 space-y-6 " action="@{/auth/loginProc}" method="POST" th:object="${user}">
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md  shadow-sm -space-y-px">
        <div>

          <label for="username" class="sr-only">아이디</label>
          <input id="username" name="username" type="text" autocomplete="username" required class="shadow-2xl rounded-none block mx-auto w-3/5 h-14 px-3 py-2 border border-red-100 placeholder-opacity-40 placeholder-yellow-900 text-yellow-800 rounded-t-md focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim" placeholder="아이디를 입력하세요">
        </div>
        <div>
          <label th:for="userPw" class="sr-only">비밀번호</label>
          <input id="userPw" name="userPw" type="password" autocomplete="current-password" required class="shadow-2xl mx-auto mt-7 w-3/5 h-14 rounded-none  block px-3 py-2 border border-red-100 placeholder-opacity-40 placeholder-yellow-900 text-yellow-700 rounded-b-md focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 text-slim" placeholder="비밀번호를 입력하세요">
        </div>
          <!--        <div>-->
          <!--          <label for="address" class="sr-only">주소</label>-->
          <!--          <input id="address" name="address" type="drop" autocomplete="address" required class="mx-auto w-3/5 rounded-none  block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 sm:text-sm" placeholder="???">-->
          <!--        </div>-->


      </div>

      <div class="flex items-center justify-center">
<!--        <div class="flex items-center">-->
          <!--          <input id="remember_me" name="remember_me" type="checkbox" class="h-4 w-4 text-yellow-600 focus:ring-yellow-500 border-gray-300 rounded">-->
          <!--          <label for="remember_me" class="ml-2 block text-sm text-gray-900">-->
          <!--            remember-->
          <!--          </label>-->
          <!--        </div>-->

        <div class="text-sm">
<!--          <a href="#" class="m- font-medium text-indigo-600 hover:text-indigo-500">-->
            <!--            비번 찾기-->
            <!--          </a>-->
          <a href="#" class="font-medium text-yellow-600 hover:text-yellow-700" onclick="location.href='/join'" id="joinForm">to be mechuli
          </a>
        </div>

      </div>

      <div class="w-full flex">
<!--        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md bg-yellow-200 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">-->
        <button type="submit"  onclick="location.href='/save'" class="mx-auto bg-yellow-200 hover:bg-yellow-500 text-black font-bold py-4 px-20 rounded-full shadow-2xl uppercase tracking-wider" >
          <span class="flex items-center font-bolder boarder text-yellow-600 shadow-2xl">
            <!-- Hero icon name: solid/lock-closed -->
        로그인
          </span>
        </button>
      </div>
         <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
    </form>



</main>
</html>
